arrow~=1.1.1
bs4
google-api-python-client~=2.7.0
google-auth-oauthlib~=0.4.4
httplib2~=0.19.1
oauth2client~=4.1.3
python-dateutil~=2.8.1
requests~=2.25.1
setuptools>=52.0.0
tqdm
yaml-config-wrapper==1.0.4
termcolor-logger==1.0.3
high_sql==1.0.2
pyemail_sender==1.0.1
cloud_filemanager==1.0.1